alabaster==0.7.11
appnope==0.1.0
argon2-cffi==18.1.0
arrow==0.12.1
astroid==2.5
atomicwrites==1.1.5
attrs==18.1.0
awshelper==1.6
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.6.0
binaryornot==0.4.4
boto3==1.7.58
botocore==1.10.58
certifi==2018.4.16
cffi==1.14.5
chardet==3.0.4
click==6.7
cookiecutter==1.6.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
decorator==4.3.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0.7
django-allauth==0.36.0
django-appconf==1.0.2
django-cacheops==4.0.7
django-ckeditor==5.9.0
django-colorfield==0.3.2
django-compressor==2.2
django-cors-headers==2.4.0
django-coverage-plugin==1.5.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.9.1
django-discover-runner==1.0
django-environ==0.4.5
django-extensions==2.0.7
django-htmlmin==0.10.0
django-js-asset==1.2.3
django-model-utils==3.1.2
django-redis==4.9.0
django-sendgrid-v5==0.7.0
django-storages==1.6.6
django-summernote==0.8.10.0
django-webpack-loader==0.6.0
django-webtest==1.9.4
django-widget-tweaks==1.4.2
djangorestframework==3.8.2
docutils==0.14
factory-boy==2.11.1
Faker==0.8.16
flake8==3.5.0
funcy==1.10.3
future==0.15.2
geoip2==2.9.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.7
imagesize==1.0.0
ipdb==0.13.9
ipython==7.17.0
ipython-genutils==0.2.0
isort==4.3.4
itypes==1.1.0
jedi==0.12.1
Jinja2==2.10
jinja2-time==0.2.0
jmespath==0.9.3
lazy-object-proxy==1.4.0
MarkupSafe==1.1.1
maxminddb==1.5.4
mccabe==0.6.1
mock==2.0.0
model-mommy==1.6.0
more-itertools==4.2.0
oauthlib==2.1.0
openpay==0.6
packaging==17.1
parso==0.3.1
pbr==5.1.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==8.3.0
pluggy==0.6.0
poyo==0.4.1
prompt-toolkit==3.0.36
ptyprocess==0.6.0
py==1.5.4
py3exiv2==0.12.0
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pylint==2.5.3
pylint-django==0.11.1
pylint-plugin-utils==0.4
pyparsing==2.2.0
pyperclip==1.8.2
pypugjs==5.7.1
pytest==3.6.3
pytest-django==3.3.2
pytest-sugar==0.9.1
python-dateutil==2.7.3
python-http-client==3.1.0
python-slugify==1.2.5
python3-openid==3.1.0
pytz==2018.5
rcssmin==1.0.6
redis==2.10.6
requests==2.19.1
requests-oauthlib==1.0.0
rjsmin==1.0.12
s3transfer==0.1.13
sendgrid==5.6.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinxcontrib-websupport==1.1.0
sqlparse==0.2.4
termcolor==1.1.0
text-unidecode==1.2
tk==0.1.0
toml==0.10.2
traitlets==4.3.2
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.23
waitress==1.1.0
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.3
WebTest==2.0.32
Werkzeug==0.14.1
whichcraft==0.4.1
whitenoise==3.3.1
wrapt==1.12.1
yawsso==1.1.0
